h1 {
  color:darkblue;
  font-size:xx-large;
  text-align:center;
}

h2 {
  color:purple;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  text-align: center;

}

h3 {
  color:blueviolet;
  font-size:x-large;
  text-align: center;
}

body, html {
  margin-left:100px;
  background-color: bisque;
  }

.column {
  width: 400px;
  float:left;
  padding:40px;

}
.columnsAll{
  align-items: center;
}


img {
  width: 400px;
  

}
